<h1 class="text-center">BURGERS LIST</h1>
<br>
<br>
<%= render 'burgers/shared/list-burger' %>

<%= link_to "Crée ton burgeer !", new_burger_path(), {class: "btn btn-primary"} %> |
<%= link_to "Voir tous mes burgers", admin_burgers_path(), {class: "btn btn-primary"} %> |
<%= link_to "Voir toutes mes commandes passées", orders_path(), {class: "btn btn-primary"} %> |
<%= link_to "Voir toutes mes commandes reçues", mine_orders_path(), {class: "btn btn-primary"} %>

