<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <% @orders.each do |order| %>

      <div class="message">
        <%= image_tag order.burger.photo, class: "photo-order"%>
        <div class="message-name burger-title">
          <%= order.burger.name %>
        </div>
        <div class="message-body burger-title-2">
          <%= order.delivered ? "🚀 Livré" : "🚀 En cours de livraison" %>
          <%= order.user.first_name %>
        </div>
        <div class="message-body">
          <p class="status pending">Pending</p>
          <%= order.total_price %> €
        </div>
      </div>
    <% end %>
  </div>
</div>
